<%- include('header') %>

<style>

	.container{
		/*background: url(/2017/imgs/try-bg1.png) no-repeat center center;*/
		/*background-size: cover;*/
		background: #ccc;
		width: 3.75rem;
		height: 6.04rem;
		position: relative;
		margin:0 auto;
		font-size: 0.12rem;
	}
	.share{
		width: 3.75rem;
	}
	.try{
		right: 0.44rem;
	}
	#blessing{
		left: 0.44rem;
	}
</style>

<div class="container">
	<img src='<%= path %>' alt="" style='' class='share'>
	<a href="/2017/index.html" class="bttn try ">我也要玩</a>
	<a href="http://cdn.iuxlabs.com/newyear2017/share.html" class="bttn" id='blessing'>制作贺卡</a>

</div>
<script>
	function FpageFuc (){}
</script>
<%- include('footer') %> 